## Question 1:
## 1. Do the market basket analysis with Bread_Basket dataset

In [4]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
sns.set(style='darkgrid')
import matplotlib.pyplot as plt 
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

In [5]:
data = pd.read_csv(r"C:\Users\hp\Downloads\BreadBasket_DMS - Arindam Dev.csv")

In [6]:
data.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [7]:
data.shape

(21293, 4)

In [8]:
data.isnull().sum()

Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [9]:
data.nunique()

Date            159
Time           8240
Transaction    9531
Item             95
dtype: int64

In [10]:
data["Item"].unique()

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea', 'NONE',
       'Tartine', 'Basket', 'Mineral water', 'Farm House', 'Fudge',
       'Juice', "Ella's Kitchen Pouches", 'Victorian Sponge', 'Frittata',
       'Hearty & Seasonal', 'Soup', 'Pick and Mix Bowls', 'Smoothies',
       'Cake', 'Mighty Protein', 'Chicken sand', 'Coke',
       'My-5 Fruit Shoot', 'Focaccia', 'Sandwich', 'Alfajores', 'Eggs',
       'Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
       'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray',
       'Bowl Nic Pitt', 'Bread Pudding', 'Adjustment', 'Truffles',
       'Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
       'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta',
       'Polenta', 'The Nomad', 'Hack the stack', 'Bakewell',
       'Lemon and coconut', 'Toast', 'Scone', 'Crepes', 'Vegan mincepie',
       'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
       'Panatone', 'Brioche and salami', 'Afternoon with the baker',
       'Salad', 'Chicken Stew', 'Spanish Brunch',
       'Raspberry shortbread sandwich', 'Extra Salami or Feta',
       'Duck egg', 'Baguette', "Valentine's card", 'Tshirt',
       'Vegan Feast', 'Postcard', 'Nomad bag', 'Chocolates',
       'Coffee granules ', 'Drinking chocolate spoons ',
       'Christmas common', 'Argentina Night', 'Half slice Monster ',
       'Gift voucher', 'Cherry me Dried fruit', 'Mortimer', 'Raw bars',
       'Tacos/Fajita'], dtype=object)

In [11]:
data[data["Item"]=="NONE"]

             Date      Time  Transaction  Item
26     2016-10-30  10:27:21           11  NONE
38     2016-10-30  10:34:36           15  NONE
39     2016-10-30  10:34:36           15  NONE
66     2016-10-30  11:05:30           29  NONE
80     2016-10-30  11:37:10           37  NONE
...           ...       ...          ...   ...
21108  2017-04-08  11:54:22         9590  NONE
21122  2017-04-08  12:58:25         9599  NONE
21254  2017-04-09  12:01:07         9666  NONE
21255  2017-04-09  12:04:13         9667  NONE
21266  2017-04-09  12:31:28         9672  NONE

[786 rows x 4 columns]

In [12]:
updated_data = data.drop(data[data["Item"]=="NONE"].index)

In [13]:
updated_data.shape

(20507, 4)

In [15]:
updated_data["Day"] = updated_data["Date"].apply(lambda x:x.split("-")[2])

updated_data["Month"] = updated_data["Date"].apply(lambda x:x.split("-")[1])

updated_data["Year"] = updated_data["Date"].apply(lambda x:x.split("-")[0])
updated_data.head()

         Date      Time  Transaction           Item Day Month  Year
0  2016-10-30  09:58:11            1          Bread  30    10  2016
1  2016-10-30  10:05:34            2   Scandinavian  30    10  2016
2  2016-10-30  10:05:34            2   Scandinavian  30    10  2016
3  2016-10-30  10:07:57            3  Hot chocolate  30    10  2016
4  2016-10-30  10:07:57            3            Jam  30    10  2016

In [16]:
most_sold = updated_data["Item"].value_counts()
most_sold.head(20)

Coffee           5471
Bread            3325
Tea              1435
Cake             1025
Pastry            856
Sandwich          771
Medialuna         616
Hot chocolate     590
Cookies           540
Brownie           379
Farm House        374
Muffin            370
Alfajores         369
Juice             369
Soup              342
Scone             327
Toast             318
Scandinavian      277
Truffles          193
Coke              185
Name: Item, dtype: int64

In [ ]:
tran_list = []

# We will loop through all the unique transactions then append the items of unique transactions into a list

for i in updated_data['Transaction'].unique():
    tlist = list(set(updated_data[updated_data["Transaction"]==i]["Item"]))
    if len(tlist)>0:
        tran_list.append(tlist)

len(tran_list)