<a href="https://colab.research.google.com/github/muskanms/LetsUpgrade-AI-ML-DL/blob/master/Day6_assign_AI_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1 : Assuming that we have some email addresses in the "username@companyname.com" format, please 
#write a program to print the company name of a given email address. Both user names and company names are composed of letters only.
#Input Format:
#The first line of the input contains an email address.
#Output Format:
#Print the company name in a single line.
#Example;
#Input:
#john@google.com
#Output:
#google.

def company_name(email):
  a=email.split("@")[-1].split(".")[0]
  print(a)
company_name('john@google.com')

google

In [2]:
#Question 2 : Write a program that accepts a comma-separated sequence of words as input and prints the words in a 
#comma-separated sequence after sorting them alphabetically.
#Input Format:
#The first line of input contains words separated by the comma.
#Output Format:
#Print the sorted words separated by the comma.
#Example:
#Input:
#without,hello,bag,world
#Output:
#bag,hello,without,world

items=input("enter")
words=[word for word in items.split(".")]
print(",".join(sorted(list(set(words)))))

entergood,hello,world,jam
good,hello,world,jam

In [ ]:
#Question 3: Create your own Jupyter Notebook for Sets.

**SETS**

Set is the collection which will be unordered that means whenever we assign values and print those values, those values will not be in same order as assigned. and set isuniindexed. sets are represented by curly braces.

In [ ]:
#lets create a set
set_1={"sun","moon","stars"}
print(set_1)

{'sun', 'stars', 'moon'}

In [ ]:
#or accessing items
#for loop used to print values one after the other value

set_2={"home","market","school","building"}
for i in set_2:
  print(i)

school
market
building
home

In [ ]:
#for finding items in set

set_3={"mom","dad","brother"}
if "mom" in set_3:
  print("present")
else:
  print("not present")

present

In [ ]:
#note:change of items is not possible. But we can add or update the set

set_3={"mom","dad","brother"}
set_3.add("sister")
print("a= ",set_3)

set_3.update(["cousin","aunty"])
print("b= ",set_3)

a=  {'mom', 'brother', 'sister', 'dad'}
b=  {'aunty', 'dad', 'sister', 'brother', 'cousin', 'mom'}

In [ ]:
#to find the length or the items in set, we use len() method
set_3={"mom","dad","brother"}
c=len(set_3)
print(c)

3

In [ ]:
#for removing or diccarding the items we use, remove() and discard() methods
set_3={"mom","dad","brother","spoon","brush"}
d=set_3.remove("spoon")
print(set_3)

e=set_3.discard("brush")
print(set_3)

{'dad', 'brother', 'brush', 'mom'}
{'dad', 'brother', 'mom'}

In [ ]:
#to remove last item we use pop() method
set_3={"table","chair","spoon","brush"}
set_3.pop()
print(set_3)

{'brush', 'table', 'chair'}

In [ ]:
#clear() method empties the set
set_3={"mom","dad","brother","spoon","brush"}
set_3.clear()
print(set_3)




#del keyword deletes the set completely
set_3={"mom","dad","brother","spoon","brush"}
del set_3
#print(set_3)   # this has raised an error because its has been deleted and no longer present into memory

set()

In [ ]:
#for joining two sets we use union() or update()
#union()
set_3={"star","spoon","brush"}
set_4={"table","chair","brush"}
set_3.union(set_4) #you can see in output "brush" is included only once because union() excludes repeated items

{'brush', 'chair', 'spoon', 'star', 'table'}

In [ ]:
#update()
set_3.update(set_4)
print(set_3) # we can see in output "brush" is included only once because update() excludes repeated items same as union() method

{'spoon', 'star', 'brush', 'chair', 'table'}

set() constructor

In [ ]:
#its possible to make a set constructor using set()/ double brackets
set_4=set(("table","chair","brush"))
print(set_4)

{'brush', 'table', 'chair'}

**set methods**



1.add():	Adds an element to the set
2.clear():	Removes all the elements from the set
3.copy():	Returns a copy of the set
4.difference():	Returns a set containing the difference between two or more sets
5.difference_update():Removes the items in this set that are also included in another, specified set
6.discard():	Remove the specified item
7.intersection():Returns a set, that is the intersection of two other sets
8.intersection_update()	:Removes the items in this set that are not present in other, specified set(s)
9.isdisjoint():	Returns whether two sets have a intersection or not
10.issubset():	Returns whether another set contains this set or not
11.issuperset():Returns whether this set contains another set or not
12.pop():	Removes an element from the set
13.remove()	:Removes the specified element
14.symmetric_difference():Returns a set with the symmetric differences of two sets
15.symmetric_difference_update():	inserts the symmetric differences from this set and another
16.union():	Return a set containing the union of sets
17.update():Update the set with the union of this set and others

In [9]:
#Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
#Input Format:
#The first line contains n-1 numbers with each number separated by a space.
#Output Format:
#Print the missing number
#Example:
#Input:
#1 2 4 6 3 7 8
#Output:
#5
#Explanation:
#In the above list of numbers 5 is missing and hence 5 is the input


def find(list1):
  for x in range(list1[0],list1[-1]+1):
     if x not in list1:
       print(x,end=" ")
list1=[1,2,4,6]
find(list1)

3 5

In [ ]:
#Question 5:With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
#Example:
#If the input list is
#12 24 35 24 88 120 155 88 120 155
#Then the output should be
#12 24 35 88 120 155
#Explanation:
#Third, the seventh and ninth element of the list L has been removed because it was already present.
#Input Format:
#In one line take the elements of the list L with each element separated by a space.
#Output Format:
#Print the elements of the modified list in one line with each element separated by a space.
#Example:
#Input:
#12 24 35 24
#Output:
#12 24 35




def r(dup):
  f=[]
  for num in dup:
    if num not in f:
      f.append(num)
  for i in f:
    print(i,end=" ")

dup=[12,24,35,24]
r(dup)

12 24 35