<a href="https://colab.research.google.com/github/muskanms/LetsUpgrade-AI-ML-DL/blob/master/DAY8_assign_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Question 1:
Recreate “NB 21 map, filter, lambda.ipynb” to try different variations or perform different calculations from the ones that are in the NB

lambda function: The lambda operator or lambda function is a way to create small anonymous functions, i.e. functions without a name. These functions are throw-away functions, i.e. they are just needed where they have been created. Lambda functions are mainly used in combination with the functions filter(), map() and reduce(). The lambda feature was added to Python due to the demand from Lisp programmers.
            
            lambda arguments : expression

In [1]:
f = lambda x, y : x + y
f(1,1)

2

In [2]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [3]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

map() function:- map applies a function to all the items in an input_list.
                                   
                map(function_to_apply,list_of_inputs)

In [4]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [5]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [6]:
# Add two lists using map and lambda 
  
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

[5, 7, 9]

filter:A filter() function is kind of similar to map(). However, map() execute a specific function on an iterable and returns every element from that iterable. Whereas filter() returns just the elements for which a function returns True. Let’s see this in an example where we have a list of number 1-20, and we want to return only the odd numbers. We’ll start off by creating a list of 1-20 using list comprehension

In [7]:
#1
def is_odd(x):
	return x % 2 != 0

is_odd(2)

False

In [8]:
a = map(is_odd, li)
list(a)

[True, True, False, True, False, False, True, True, True, True]

In [9]:
a_2 = filter(is_odd,li)
list(a_2)

[5, 7, 97, 77, 23, 73, 61]

In [10]:
#2

sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [11]:
# 3 Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

Question 2
Recreate your own Python NB for “Classes and Objects” from the pdf provided namely “Classes&Objects.pdf”
classes and objects

classes:A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

     Class Definition Syntax:

              class ClassName:

                # Statement-1
                .
                .
                .
                # Statement-N

In [12]:
class Dog:  
      
    # A simple class 
    # attribute 
    attr1 = "mamal"
    attr2 = "dog"
  
    # A sample method   
    def fun(self):  
        print("I'm a", self.attr1) 
        print("I'm a", self.attr2) 
  
# Driver code 
# Object instantiation 
Rodger = Dog() 
  
# Accessing class attributes 
# and method through objects 
print(Rodger.attr1) 
Rodger.fun()

mamal
I'm a mamal
I'm a dog

objects:Objects can also contain methods. Methods in objects are functions that belong to the object.¶
  
  Let us create a method in the Person class:

In [13]:
# A Sample class with init method  
class Person:  
    
    # init method or constructor   
    def __init__(self, name):  
        self.name = name  
    
    # Sample Method   
    def say_hi(self):  
        print('Hello, my name is', self.name)  
    
p = Person('muskan')  
p.say_hi()

Hello, my name is muskan

In [14]:
# Class for Dog  
class Dog:  
    
    # Class Variable  
    animal = 'dog'             
    
    # The init method or constructor  
    def __init__(self, breed, color):  
      
        # Instance Variable      
        self.breed = breed 
        self.color = color         
     
# Objects of Dog class  
Rodger = Dog("Pug", "brown")  
Buzo = Dog("Bulldog", "black")  
  
print('Rodger details:')    
print('Rodger is a', Rodger.animal)  
print('Breed: ', Rodger.breed) 
print('Color: ', Rodger.color) 
  
print('\nBuzo details:')    
print('Buzo is a', Buzo.animal)  
print('Breed: ', Buzo.breed) 
print('Color: ', Buzo.color) 
  
# Class variables can be accessed using class  
# name also  
print("\nAccessing class variable using class name") 
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  Bulldog
Color:  black

Accessing class variable using class name
dog

In [15]:
# Python program to show that we can create   
# instance variables inside methods  
     
# Class for Dog  
class Dog:  
        
    # Class Variable  
    animal = 'dog'      
        
    # The init method or constructor  
    def __init__(self, breed):  
            
        # Instance Variable  
        self.breed = breed              
    
    # Adds an instance variable   
    def setColor(self, color):  
        self.color = color  
        
    # Retrieves instance variable      
    def getColor(self):      
        return self.color     
    
# Driver Code  
Rodger = Dog("pug")  
Rodger.setColor("brown")  
print(Rodger.getColor())

brown