<a href="https://colab.research.google.com/github/muskanms/LetsUpgrade-AI-ML-DL/blob/master/Day_10_assign_ans_AI_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Question 1:
#Create an element-wise comparison (greater, greater_equal, less and less_equal) of two given arrays


import numpy as np
a=np.array([6,7])
b=np.array([2,4])
print("original numbers")
print(a)
print(b)
print("comparison(greater): ",np.greater(a,b))
print("comparison(greater-equal): ",np.greater_equal(a,b))
print("comparison(less): ",np.less(a,b))
print("comparison(less_equal): ",np.less_equal(a,b))

original numbers
[6 7]
[2 4]
comparison(greater):  [ True  True]
comparison(greater-equal):  [ True  True]
comparison(less):  [False False]
comparison(less_equal):  [False False]

In [26]:
#Question 2:
#Write a NumPy program to create an array of 10 zeros,10 ones, 10 fives
import numpy as np
arr1=np.zeros(10)
print("array of 10 zeros: ",arr1)
arr2=np.ones(10)
print("array of 10 ones: ",arr2)
arr3=np.ones(10)*5
print("array of 10 fives:: ",arr3)

array of 10 zeros:  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
array of 10 ones:  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
array of 10 fives::  [5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

In [31]:
#Question 3:
#Write a NumPy program to compute sum of all elements, sum of each column and sum of each row of a
#given array


import numpy as np
a=np.array([[5,1],[2,4]])
print("original array",a)
print("sum of all the elements",np.sum(a))
print("sum of each column",np.sum(a,axis=1))
print("sum of each column",np.sum(a,axis=0))

original array [[5 1]
 [2 4]]
sum of all the elements 12
sum of each column [6 6]
sum of each column [7 5]

In [38]:
#Question 4:
#Write a NumPy program to add, subtract, multiply, divide arguments element-wise.
import numpy as np
print('ADD=',np.add(3,6))
print("SUBTRACT= ",np.subtract(9,5))
print("multiply=",np.multiply(2,4))
print("divide= ",np.divide(9,3))

ADD= 9
SUBTRACT=  4
multiply= 8
divide=  3.0

In [47]:
#Question 5:
#Write a NumPy program to compute the trigonometric sine, cosine and tangent array of angles given in
#degree.
import numpy as np
print("sine of array of angles given in degree= ",np.sin(np.array((0.,30.,45.,60.,90.))*np.pi/180))
print("cosine of array of angles given in degree= ",np.cos(np.array((0.,30.,45.,90.))*np.pi/180))
print("tangent of array of angles given in degree= ",np.tan(np.array((0.,30.,45.,90))*np.pi/180))

sine of array of angles given in degree=  [0.         0.5        0.70710678 0.8660254  1.        ]
cosine of array of angles given in degree=  [1.00000000e+00 8.66025404e-01 7.07106781e-01 6.12323400e-17]
tangent of array of angles given in degree=  [0.00000000e+00 5.77350269e-01 1.00000000e+00 1.63312394e+16]

In [50]:
#Question 6:
#Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the
#index labels


import pandas as pd
import numpy as np
data={"name":["sam","harsh","pranav","devid","john"],
      "scores":["30","40","50","60","70"],
      }
labels=["a","b","c","d","e"]
df=pd.DataFrame(data,index=labels)
print(df)

     name scores
a     sam     30
b   harsh     40
c  pranav     50
d   devid     60
e    john     70

In [53]:
#Question 7:
#Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame

import pandas as pd
import numpy as np
data={"name":["sam","harsh","pranav","devid","john"],
      "scores":["30","40","50","60","70"],"backlogs":["0","1","2","3","4"]
      }
labels=["a","b","c","d","e"]
df=pd.DataFrame(data,index=labels)
print(df[["name","scores"]])

     name scores
a     sam     30
b   harsh     40
c  pranav     50
d   devid     60
e    john     70

In [54]:
#Question 8:
#Write a Pandas program to join the two given dataframes along rows and assign all data.
import pandas as pd
stud_1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['sam', 'david', 'emy', 'richard', 'elizabeth'], 
        'marks': [200, 210, 190, 222, 199]})

stud_2= pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': [' Fisher', 'faiz', 'joe', ' William', 'Madeeha'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
       'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("Original DataFrames:")
print(stud_1)
print(stud_2)
print(exam_data)

print("\nJoin first two said dataframes along rows:")
result_data = pd.concat([stud_1, stud_2])
print(result_data)

Original DataFrames:
  student_id       name  marks
0         S1        sam    200
1         S2      david    210
2         S3        emy    190
3         S4    richard    222
4         S5  elizabeth    199
  student_id      name  marks
0         S4    Fisher    201
1         S5      faiz    200
2         S6       joe    198
3         S7   William    219
4         S8   Madeeha    201
   student_id  exam_id
0          S1       23
1          S2       45
2          S3       12
3          S4       67
4          S5       21
5          S7       55
6          S8       33
7          S9       14
8         S10       56
9         S11       83
10        S12       88
11        S13       12

Join first two said dataframes along rows:
  student_id       name  marks
0         S1        sam    200
1         S2      david    210
2         S3        emy    190
3         S4    richard    222
4         S5  elizabeth    199
0         S4     Fisher    201
1         S5       faiz    200
2         S6        joe    198
3         S7    William    219
4         S8    Madeeha    201

In [56]:
#Question 9:
#Write a Pandas program to detect missing values of a given DataFrame. Display True or False
import pandas as pd
import numpy as np
data={"name":["sam","harsh","pranav","devid","john"],
      "scores":["30",np.nan,"50","60","70"],"backlogs":[np.nan,"1","2","3","4"]
      }
labels=["a","b","c","d","e"]
df=pd.DataFrame(data,index=labels)
print(df[["name","scores"]])
print(df.isna())

     name scores
a     sam     30
b   harsh    NaN
c  pranav     50
d   devid     60
e    john     70
    name  scores  backlogs
a  False   False      True
b  False    True     False
c  False   False     False
d  False   False     False
e  False   False     False

In [57]:
#Question 10:
#Write a Pandas program to create and display a one-dimensional array-like object containing an array of
#data.
import pandas as pd
arr=pd.Series([6,7,8,2])
print(arr)

0    6
1    7
2    8
3    2
dtype: int64